html, body {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    font-family: 'Muli', sans-serif;
}

}
.wrapper{
	width: 100%;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0px;
    text-align:center;
}

.sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 30px;
    color: white;
    display: block;
    transition: 0.4s;
    list-style-type: none;
}

.sidenav a:hover {
    color: orange;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: white;
    cursor: pointer;
    height: 45%;
    background-color: rgba(0,0,0, .8); 
}

.openbtn {
	font-size: 40px;
	top: 0;
	position: absolute;
	color: white;
	padding-left: 20px;
	cursor: pointer;
}
.heroIMG {
	height: 600px;
}

.heroIMGwrapper {
	position: relative;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0, .5);//#000;
}
.heroIMG h1	{
	position: absolute;
	top: 0px;
	left: 25%;
	font-variant: small-caps;
	letter-spacing: 15px;
	font-size: 45px;
	color: white;
}

.heroIMG img {
	position: relative;
	width: 100%;
	height: 600px;
	z-index: -1;
}
.essaysHeader {
	height: 60px;
	color: black;
	font-size: 12px;
	letter-spacing: 10px;
	padding-top: 20px;
	text-align: center;
	text-transform: uppercase;
}
.fourEssays {
	display: inline-block;
	height: 225px;
	color: black;
}

#col {
	width: 50%;
	float: left;
	height: 225px;
	text-align: center;
}

#col p {
	padding-left: 10px;
	padding-right: 10px;
}
#col a {
    width:100%;
    height:auto;
    display: inline;
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}	


.fourColumn {
	display: inline-block;
	height: 225px;
}

#column {
	width: 25%;
	float: left;
	height: 225px;
}

#column img {
    width:100%;
    height:auto;
    display: inline;
}	

.socialMedia {
	display: inline-block;
	height: 250px;
	width: 100%;
}

#socialMedia {
	width: 50%;
	float: left;
	height: 200px;
	display: inline-block;
	padding-top: 75px;
	padding-bottom: 15px;
	text-align: center;
}

#socialMedia img  {
	display: inline;
	height: 85px;
}	
#socialMedia a{
	text-decoration: none;
	color: black;
	display: inline;
	font-size: 22px;
}
#socialMedia a:hover {
	color: orange;
}
.orderIMG {
	height: 700px;
}

.orderIMGwrapper {
	position: relative;
	top: 10px;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0, .5);//#000;
	text-align: center;
}
.orderIMG h2	{
	position: absolute;
	top: 200px;
	letter-spacing: 5px;
	font-size: 35px;
	color: white;
	left: 20%;
}
.orderIMG a {
	position: absolute;
	text-decoration: none;
	top: 350px;
	left: 40%;
	width: 200px;
	font-size: 20px;
	color: orange;
	border: 1px solid white;
	border-radius: 25px;
	background-color: white;
	padding: 10px;
	font-weight: bold;
}

.orderIMG img {
	position: relative;
	width: 100%;
	height: 700px;
	z-index: -1;
}

.game {
	display: inline-block;
	width: 100%;
	height: 150px;
	padding: 10px;
}
div.cell {
  display: inline-block;
  height: 25px;
  width: 25px;
}

div.row {
  height: 25px;
}

div.brick {
  background-color: pink;
}

div.empty {
  background-color: black;
}

div.coin {
  background: url('coin.gif');
  background-size: cover;
}

div.cat {
  background: url('pusheenright.gif');
  background-size: cover;
}

div.gameboard {
  display: inline-block;
  background-color:white;
  padding-left: 33.3%;
  padding-bottom: 10px;
}
.gameheading {
	padding-left: 30%;
	font-size: 40px;
}

#directions  {
	text-align: center;
	text-transform: uppercase;
}

.footer {
	position: relative;
	background: rgba(0,0,0, .6);//#000;
	display: inline-block;
	height: 250px;
	color: white;
	width: 100%;
}
.footercol {
	display: inline-block;
	width: 30%;
	margin: 0;
	padding-left: 15px;
	top: 20px;
}
.footercol a {
	text-decoration: none;
	color: white;
	font-size: 16px;
	display: inline-block;
	padding-top: 10px;
}

input {
	display: block;
	margin-bottom: 15px;
}